<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12 portlet light">
        <div class="portlet-body">
            <div class="row">
                <div class="page-title margin-bottom-20">
                    <h2>
                        <span>Address</span>
                        <small>{{addrHash}}</small>
                    </h2>
                </div>
                <span>
                  {{ address.balance }}
                </span>
                <span class="eth-stat-text">
                  JOYS Balance
                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Note: Balance may not reflect fresh transactions have been made."></i>
                  </span>
                <div class="margin-top-20">
                    {{ address.txCount }} <span class="eth-stat-text">Transactions</span>
                </div>
                <div class="margin-top-20" ng-if="mined.length>0">
                    {{ mined.length }} <span class="eth-stat-text">Block mined</span>
                </div>
                <div class="margin-top-20" ng-if="mined.length>0">
                    {{ getMinedAmount() }} <span class="eth-stat-text">Mined coins</span>
                </div>
            </div>
        </div>

    </div><!--end row-->
</div><!--end portlet-body-->
</div><!--end portlet-->

<!-- Begin: Transaction Datatable -->
<div class="portlet light portlet-datatable col-md-12">
    <div class="portlet-body">
        <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                <li ng-class="{active: activeTab == 'tab_addr_1' || !activeTab}">
                    <a href="#tab_addr_1" data-toggle="tab" aria-expanded="true"> Transactions </a>
                </li>
                <li ng-class="{active: activeTab == 'tab_addr_2'}" ng-show="mined.length>0">
                    <a href="#tab_addr_2" data-toggle="tab" aria-expanded="false">Mined</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane table-container" ng-class="{active: activeTab == 'tab_addr_1' || !activeTab}"
                     id="tab_addr_1">
                    <table class="table table-striped table-hover" id="table_txs"
                           style="table-layout:fixed;width: 98% !important;">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="25%">TxHash</th>
                            <th width="5%">Block</th>
                            <th width="25%">From</th>
                            <th width="25%">To</th>
                            <th width="10%">SHF</th>
                            <th width="10%">Gas</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div ng-if="transactions.length>0">
                            <tr ng-repeat="tx in getTransactions() track by $index">
                                <td width="15%"><a ui-sref="tx({hash: '{{tx.hash}}'})">{{tx.hash}}</a></td>
                                <td width="8%"><a ui-sref="block({number: '{{tx.blockNumber}}'})">{{tx.blockNumber}}</a> </td>
                                <td width="15%"><a ui-sref="address({hash: '{{tx.from}}'})">{{tx.from}}</a></td>
                                <td width="15%"><a ui-sref="address({hash: '{{tx.to}}'})">{{tx.to}}</a><</td>
                                <td width="10%">{{tx.value | fromWeiToEther}}</td>
                                <td width="0%">{{tx.gas}}</td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                    <div class="btn btn-info" ng-if="address.transactions.length >= 20 && txLimit <= address.transactions.length" ng-click="loadTxs(20)">Load 20 more</div>
                </div>
                <div class="tab-pane table-container" ng-class="{active: activeTab == 'tab_addr_2' || !activeTab}" ng-if="activeTab == 'tab_addr_2' && mined.length>0"
                     id="tab_addr_2">
                    <table class="table table-striped table-hover" id="table_mined"
                           style="table-layout:fixed;width: 98% !important;">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="5%">Block #</th>
                            <th width="30%">Hash</th>
                            <th width="3%">Size</th>
                            <th width="5%">Difficulty</th>
                            <th width="5%">Ago</th>
                        </tr>
                        </thead>
                        <tbody>

                        <div ng-if="mined.length>0">
                            <tr ng-repeat="block in getMined() track by $index">
                                <td><a ui-sref="block({number: '{{block.number}}'})">{{block.number}}</a></td>
                                <td>{{block.hash}}</td>
                                <td>{{block.size}}</td>
                                <td>{{block.difficulty}}</td>
                                <td>{{block.timestamp | timeDuration}}</td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                    <div class="btn btn-info" ng-if="mined.length >= 20 && minedLimit <= mined.length" ng-click="loadMined(20)">Load 20 more</div>
                </div>
            </div>
        </div>

    </div>
</div><!-- End: portlet -->
