<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="page-title margin-bottom-20">
        <h2>
            <span>Transaction</span>
            <small>{{hash}}</small>
        </h2>
    </div>
  <div class="col-md-12 portlet light">
      <div class="portlet-body">

        <table class="col-md-6 table table-hover">

          <tr ><td width="25%">Hash</td><td>{{tx.hash}}</td></tr>
          <tr ><td width="25%">Block Number</td>
                <td><a href="/block/{{tx.blockNumber}}">{{tx.blockNumber}}</a></td>
          </tr>
          <tr ><td width="25%">From</td>
                <td><a href="/addr/{{tx.from}}">{{tx.from}}</a></td></tr>
          <tr ng-show="tx.to"><td width="25%">To</td>
                <td><a href="/addr/{{tx.to}}">{{tx.to}}</a></td></tr>
          <tr ng-show="tx.creates"><td width="25%">Creates</td>
                <td><a href="/addr/{{tx.creates}}">{{tx.creates}}</a></td></tr>
          <tr ><td width="25%">Value</td><td>{{tx.value | fromWeiToEther}} SHF</td></tr>
          <tr ><td width="25%">Gas Provided</td><td>{{tx.gas}}</td></tr>
          <tr ><td width="25%">Gas price</td><td>{{tx.gasPrice}}</td></tr>
          <tr ><td width="25%">Nonce</td><td>{{tx.nonce}}</td></tr>
          <tr ><td width="25%">Input Data</td><td><pre class="code">{{tx.input}}</pre></td></tr>
        </table>
    </div>

  </div>
</div>
